<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shortcut</key>
		<string>KTV 2</string>
		<key>name</key>
		<string>Katedra tělesné výchovy</string>
		<key>rooms</key>
		<array>
			<string>KTVB</string>
			<string>KTVE</string>
			<string>KTVH</string>
			<string>KTVM</string>
			<string>KTVP</string>
			<string>KTVV</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.38042</real>
				<key>latitude</key>
				<real>50.12981</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Kolej A</string>
		<key>name</key>
		<string>Kolej A</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>altitude</key>
				<integer>1</integer>
				<key>longtitude</key>
				<real>14.37604</real>
				<key>latitude</key>
				<real>50.13142</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Koleje JIH</string>
		<key>name</key>
		<string>Koleje JIH</string>
		<key>rooms</key>
		<array>
			<string>JIH168</string>
			<string>JIH268</string>
			<string>JIH368</string>
			<string>JIH468</string>
			<string>JIH568</string>
			<string>JIH008</string>
			<string>JIH009</string>
			<string>JIH010</string>
			<string>JIHS17</string>
			<string>JIHS18</string>
			<string>JIHS19</string>
			<string>JIHS23</string>
			<string>JIHS24</string>
			<string>JIHS25</string>
			<string>JIHS26</string>
			<string>JIHS29</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37734</real>
				<key>latitude</key>
				<real>50.13037</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Koleje BCD</string>
		<key>name</key>
		<string>Koleje BCD</string>
		<key>rooms</key>
		<array>
			<string>BCD10</string>
			<string>C62</string>
			<string>C63</string>
			<string>S1</string>
			<string>S2</string>
			<string>S3</string>
			<string>S4</string>
			<string>S6</string>
			<string>S7</string>
			<string>S8</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37637</real>
				<key>latitude</key>
				<real>50.12993</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Koleje G</string>
		<key>name</key>
		<string>Koleje G</string>
		<key>rooms</key>
		<array>
			<string>G227</string>
			<string>G327</string>
			<string>G427</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37812</real>
				<key>latitude</key>
				<real>50.12855</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Koleje EF</string>
		<key>name</key>
		<string>Koleje EF</string>
		<key>rooms</key>
		<array>
			<string>FPC</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37777</real>
				<key>latitude</key>
				<real>50.12848</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
			<dict>
				<key>longtitude</key>
				<real>14.37723</real>
				<key>latitude</key>
				<real>50.12888</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
			<dict>
				<key>longtitude</key>
				<real>14.37788</real>
				<key>latitude</key>
				<real>50.12902</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>RK</string>
		<key>name</key>
		<string>Kruhová hala</string>
		<key>rooms</key>
		<array>
			<string>RKUI</string>
			<string>RKUII</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37598</real>
				<key>latitude</key>
				<real>50.12889</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>T</string>
		<key>name</key>
		<string>Fakulta tropického zemědělství</string>
		<key>rooms</key>
		<array>
			<string>TI</string>
			<string>T135</string>
			<string>T137</string>
			<string>T219</string>
			<string>T220</string>
			<string>T221</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37548</real>
				<key>latitude</key>
				<real>50.12998</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>T</string>
		<key>name</key>
		<string>Výukový pavilon T</string>