<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shortcut</key>
		<string>KTV ssr</string>
		<key>name</key>
		<string>Katedra tělesné výchovy</string>
		<key>rooms</key>
		<array>
			<string>KTVB</string>
			<string>KTVE</string>
			<string>KTVH</string>
			<string>KTVM</string>
			<string>KTVP</string>
			<string>KTVV</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.38042</real>
				<key>latitude</key>
				<real>50.12981</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Kolej A 2</string>
		<key>name</key>
		<string>Kolej A 2</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>altitude</key>
				<integer>1</integer>
				<key>longtitude</key>
				<real>14.37604</real>
				<key>latitude</key>
				<real>50.13142</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Koleje JIH</string>
		<key>name</key>
		<string>Koleje JIH</string>
		<key>rooms</key>
		<array>
			<string>JIH168</string>
			<string>JIH268</string>
			<string>JIH368</string>
			<string>JIH468</string>
			<string>JIH568</string>
			<string>JIH008</string>
			<string>JIH009</string>
			<string>JIH010</string>
			<string>JIHS17</string>
			<string>JIHS18</string>
			<string>JIHS19</string>
			<string>JIHS23</string>
			<string>JIHS24</string>
			<string>JIHS25</string>
			<string>JIHS26</string>
			<string>JIHS29</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37734</real>
				<key>latitude</key>
				<real>50.13037</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Koleje BCD</string>
		<key>name</key>
		<string>Koleje BCD</string>
		<key>rooms</key>
		<array>
			<string>BCD10</string>
			<string>C62</string>
			<string>C63</string>
			<string>S1</string>
			<string>S2</string>
			<string>S3</string>
			<string>S4</string>
			<string>S6</string>
			<string>S7</string>
			<string>S8</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37637</real>
				<key>latitude</key>
				<real>50.12993</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Koleje G</string>
		<key>name</key>
		<string>Koleje G</string>
		<key>rooms</key>
		<array>
			<string>G227</string>
			<string>G327</string>
			<string>G427</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37812</real>
				<key>latitude</key>
				<real>50.12855</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Koleje EF</string>
		<key>name</key>
		<string>Koleje EF</string>
		<key>rooms</key>
		<array>
			<string>FPC</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37777</real>
				<key>latitude</key>
				<real>50.12848</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
			<dict>
				<key>longtitude</key>
				<real>14.37723</real>
				<key>latitude</key>
				<real>50.12888</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
			<dict>
				<key>longtitude</key>
				<real>14.37788</real>
				<key>latitude</key>
				<real>50.12902</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>RK</string>
		<key>name</key>
		<string>Kruhová hala</string>
		<key>rooms</key>
		<array>
			<string>RKUI</string>
			<string>RKUII</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37598</real>
				<key>latitude</key>
				<real>50.12889</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>T</string>
		<key>name</key>
		<string>Fakulta tropického zemědělství</string>
		<key>rooms</key>
		<array>
			<string>TI</string>
			<string>T135</string>
			<string>T137</string>
			<string>T219</string>
			<string>T220</string>
			<string>T221</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37548</real>
				<key>latitude</key>
				<real>50.12998</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>T</string>
		<key>name</key>
		<string>Výukový pavilon T</string>
		<key>rooms</key>
		<array>
			<string>TI</string>
			<string>T135</string>
			<string>T137</string>
			<string>T219</string>
			<string>T220</string>
			<string>T221</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37548</real>
				<key>latitude</key>
				<real>50.12998</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Aula</string>
		<key>name</key>
		<string>Aula</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37462</real>
				<key>latitude</key>
				<real>50.13037</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>R</string>
		<key>name</key>
		<string>Rektorát</string>
		<key>rooms</key>
		<array>
			<string>S16</string>
			<string>S19</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37355</real>
				<key>latitude</key>
				<real>50.13003</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>TF Pavilon 1</string>
		<key>name</key>
		<string>TF Pavilon 1</string>
		<key>rooms</key>
		<array>
			<string>M06/1</string>
			<string>M08/1</string>
			<string>M09/1</string>
			<string>M6/1</string>
			<string>M121/1</string>
			<string>M124/1</string>
			<string>M127/1</string>
			<string>M217/1</string>
			<string>M219/1</string>
			<string>M220/1</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.3744</real>
				<key>latitude</key>
				<real>50.12888</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>TF Pavilon 2</string>
		<key>name</key>
		<string>TF Pavilon 2</string>
		<key>rooms</key>
		<array>
			<string>M013/2</string>
			<string>M017/2</string>
			<string>M115/2</string>
			<string>M117/2</string>
			<string>M216/2</string>
			<string>M218/2</string>
			<string>M220/2</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.3744</real>
				<key>latitude</key>
				<real>50.12888</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>TF Pavilon 3</string>
		<key>name</key>
		<string>TF Pavilon 3</string>
		<key>rooms</key>
		<array>
			<string>M014/3</string>
			<string>M54/3</string>
			<string>M119/3</string>
			<string>M125/3</string>
			<string>M214/3</string>
			<string>M220/3</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.3744</real>
				<key>latitude</key>
				<real>50.12888</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>TF Pavilon 4</string>
		<key>name</key>
		<string>TF Pavilon 4</string>
		<key>rooms</key>
		<array>
			<string>M4/4</string>
			<string>M5/4</string>
			<string>M15/4</string>
			<string>M16/4</string>
			<string>M26/4</string>
			<string>M34/4</string>
			<string>M38/4</string>
			<string>M39/4</string>
			<string>M40/4</string>
			<string>M54/4</string>
			<string>M60/4</string>
			<string>M77/4</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.3744</real>
				<key>latitude</key>
				<real>50.12888</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>TF</string>
		<key>name</key>
		<string>Technická fakulta - dílenský a laboratorní trakt</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.3744</real>
				<key>latitude</key>
				<real>50.12888</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>TF</string>
		<key>name</key>
		<string>Technická fakulta</string>
		<key>rooms</key>
		<array>
			<string>MI</string>
			<string>MII</string>
			<string>MIII</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37357</real>
				<key>latitude</key>
				<real>50.12945</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
			<dict>
				<key>longtitude</key>
				<real>14.37419</real>
				<key>latitude</key>
				<real>50.12952</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
			<dict>
				<key>longtitude</key>
				<real>14.37481</real>
				<key>latitude</key>
				<real>50.12959</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>SIC</string>
		<key>name</key>
		<string>Studijní a informační centrum</string>
		<key>rooms</key>
		<array>
			<string>SIC</string>
			<string>SIC-139</string>
			<string>SIC-259</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37297</real>
				<key>latitude</key>
				<real>50.12885</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>FAPPZ</string>
		<key>name</key>
		<string>Fakulta agrobiologie, potravinových a přírodních zdrojů</string>
		<key>rooms</key>
		<array>
			<string>AI</string>
			<string>AII</string>
			<string>AIII</string>
			<string>AIV</string>
			<string>A14</string>
			<string>A18</string>
			<string>A28</string>
			<string>A55</string>
			<string>A126</string>
			<string>A132</string>
			<string>A137</string>
			<string>A208</string>
			<string>A218</string>
			<string>A220</string>
			<string>A226</string>
			<string>A233</string>
			<string>A237</string>
			<string>A310</string>
			<string>A320</string>
			<string>A322</string>
			<string>A328</string>
			<string>A341</string>
			<string>A410</string>
			<string>A416</string>
			<string>A418</string>
			<string>A420</string>
			<string>A422</string>
			<string>A435</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37246</real>
				<key>latitude</key>
				<real>50.12996</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>AFA</string>
		<key>name</key>
		<string>FAPPZ - pavilon A</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37175</real>
				<key>latitude</key>
				<real>50.13064</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>AFB</string>
		<key>name</key>
		<string>FAPPZ - pavilon B</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37143</real>
				<key>latitude</key>
				<real>50.13058</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>AFC</string>
		<key>name</key>
		<string>FAPPZ - pavilon C</string>
		<key>rooms</key>
		<array>
			<string>C1</string>
			<string>C109</string>
			<string>C111</string>
			<string>C112</string>
			<string>C118</string>
			<string>C241</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37171</real>
				<key>latitude</key>
				<real>50.1294</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>AFD</string>
		<key>name</key>
		<string>FAPPZ - pavilon D</string>
		<key>rooms</key>
		<array>
			<string>D</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37008</real>
				<key>latitude</key>
				<real>50.13111</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Výukové skleníky</string>
		<key>name</key>
		<string>Výukové skleníky</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37097</real>
				<key>latitude</key>
				<real>50.13129</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>FAPPZ - meteorologická stanice</string>
		<key>name</key>
		<string>FAPPZ - meteorologická stanice</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37042</real>
				<key>latitude</key>
				<real>50.13055</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>FZP</string>
		<key>name</key>
		<string>Fakulta životního prostředí</string>
		<key>rooms</key>
		<array>
			<string>ZI</string>
			<string>ZII</string>
			<string>Z017</string>
			<string>Z019</string>
			<string>Z028</string>
			<string>Z030</string>
			<string>Z115</string>
			<string>Z117</string>
			<string>Z118</string>
			<string>Z119</string>
			<string>Z120</string>
			<string>Z225</string>
			<string>Z342</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37041</real>
				<key>latitude</key>
				<real>50.12986</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>FLD</string>
		<key>name</key>
		<string>Fakulta lesnická a dřevařská</string>
		<key>rooms</key>
		<array>
			<string>LI</string>
			<string>LII</string>
			<string>L016</string>
			<string>L023</string>
			<string>L024</string>
			<string>L054</string>
			<string>L155</string>
			<string>L171</string>
			<string>L255</string>
			<string>L271</string>
			<string>L332</string>
			<string>L356</string>
			<string>L372</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.36986</real>
				<key>latitude</key>
				<real>50.13005</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>PEF</string>
		<key>name</key>
		<string>Provozně ekonomická fakulta</string>
		<key>rooms</key>
		<array>
			<string>EI</string>
			<string>EII</string>
			<string>EIII</string>
			<string>EIV</string>
			<string>EV</string>
			<string>E115</string>
			<string>E119</string>
			<string>E223</string>
			<string>E239</string>
			<string>E255</string>
			<string>E309</string>
			<string>E315</string>
			<string>E323</string>
			<string>E333</string>
			<string>E341</string>
			<string>E355</string>
			<string>E409</string>
			<string>E423</string>
			<string>E431</string>
			<string>E439</string>
			<string>E455</string>
			<string>C11</string>
			<string>C12</string>
			<string>C13</string>
			<string>C14</string>
			<string>C21</string>
			<string>C22</string>
			<string>C23</string>
			<string>C24</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37348</real>
				<key>latitude</key>
				<real>50.13063</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
			<dict>
				<key>longtitude</key>
				<real>14.37369</real>
				<key>latitude</key>
				<real>50.13133</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
			<dict>
				<key>longtitude</key>
				<real>14.37295</real>
				<key>latitude</key>
				<real>50.13133</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
			<dict>
				<key>longtitude</key>
				<real>14.37286</real>
				<key>latitude</key>
				<real>50.1305</real>
				<key>name</key>
				<string>Vchod</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>KJ</string>
		<key>name</key>
		<string>Katedra jazyků</string>
		<key>rooms</key>
		<array>
			<string>EA111</string>
			<string>EA112</string>
			<string>EA113</string>
			<string>EA114</string>
			<string>EA116</string>
		</array>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37226</real>
				<key>latitude</key>
				<real>50.13165</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Pokusná a demonstrační stáj</string>
		<key>name</key>
		<string>Pokusná a demonstrační stáj</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.36918</real>
				<key>latitude</key>
				<real>50.12958</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>CSAS</string>
		<key>name</key>
		<string>Bankomat České spořitelny</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37513</real>
				<key>latitude</key>
				<real>50.13067</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>KB</string>
		<key>name</key>
		<string>Bankomat Komerční banky</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37631</real>
				<key>latitude</key>
				<real>50.13197</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>P1</string>
		<key>name</key>
		<string>Centrální parkoviště</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37772</real>
				<key>latitude</key>
				<real>50.13135</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ZS</string>
		<key>name</key>
		<string>Zdravotní středisko</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37656</real>
				<key>latitude</key>
				<real>50.13206</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Klub Kruháč</string>
		<key>name</key>
		<string>Klub Kruháč</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37628</real>
				<key>latitude</key>
				<real>50.12877</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Mensa</string>
		<key>name</key>
		<string>Mensa</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37515</real>
				<key>latitude</key>
				<real>50.13064</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>Farma</string>
		<key>name</key>
		<string>Restaurace Farma</string>
		<key>rooms</key>
		<array/>
		<key>exits</key>
		<array>
			<dict>
				<key>longtitude</key>
				<real>14.37517</real>
				<key>latitude</key>
				<real>50.13063</real>
				<key>name</key>
				<string>Orientační</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
